

.dropdownmore {
   width: 150px;
   border-radius: 10px;
   border: 1px solid #bbb;
   position: absolute;
   top: 30px;
   right: 0;
   overflow: hidden;
   cursor: pointer;
  
  
}
.taskMoreButtons{
   border: none;
   padding: 5px;
   background-color: transparent;
   border-radius: none;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   font-size: 20px;
}

.itemDropdownmore {
   background: #fff;
   transition: .4s linear;
   cursor: pointer;
   display: flex;
   align-items: center;
   column-gap: 10px;
   padding: 5px;
   font-size: 14px;
   color: #222;
   
}
.itemDropdownmore:hover {
   background: #eee;
}
.TaskIcon{
   display: flex;
   
   position: relative;
   align-items: center;
}


