
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

.listContainer{
    display: flex;
    margin: 20px 15% ;  
}
.listContent{
    width: 100%;
}

.addList {
    display: flex;
    width: 100%;
    justify-content: right;
    border: none;

    
}
.listButton {
    background-color: #f5f5f5;
    color: black;
    border: none;
    width: 100px;
    font-size: 14px;
    box-sizing: border-box;
    /* border-radius: 10px;  */
    cursor: pointer;
    align-items: right;
    padding: 5px;
    margin-top: 10px;
    display: inline-flex;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.listButton:hover{
    background-color: #eee;
}
.myList{
    width: 100%;
    display: block;
}

 .listItems{
    width: 100%;   
}
.listItems::marker{
    color: white;
    outline: none;
}
.ListStyleWrapper{
    width: 100%;
}

.ListStyle{
    width: 100%;
    padding: 10px;
    display: flex;
    color: black;
    font-size: 15px;

}
.listCount{
    font-size: 14px;
    font-weight: 900;
    
}
.HoverMore{
    display: flex;
    margin-top: 10px;
    visibility: hidden;
    
    

 }
 .ListProps{
    display: flex;
    width: 100%;
    
 }
 .ListProps:hover .HoverMore {
    visibility: visible; 
    
  }
  .ListProps:hover{
    background-color:#f5f5f5;
  }





