.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100dvh;
}
.wrapper{
    justify-content: center;
    width: 50%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    padding: 30px 0
}
.LogoWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    column-gap: 10px;
    width: 100%;
}
.LogoWrapper a {
    font-size: 25px;
}
.LogoWrapper a div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.LogoWrapper a svg {
    color: #1C2237;
}
.LogoWrapper a span{
    color: #1C2237;
    font-weight: 600;
}
.image{
    justify-content: center;
    width: 50%;
    display: flex;
    align-items: center;
}
.picture{
    width: 70%;
    height: auto;
}
.emailInput{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 10px 4px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}
.submit{
    margin: 20px 0;
    background: #1C2237;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
    
}
.formReg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}
.Password{
    font-size: 22px;
  padding: 4px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
  display: block;
  width: 100%;
}