*{
    margin:0;
    padding:0;
    text-decoration: none;
}

.sidebar{
    background: #FAF8F7;
    color: #222;
    height:100vh;
    width: 300px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
    justify-content: space-between;
}
.logo{
    font-weight: 600;
    font-size: 14px;
}
.bars{
    display: flex;
    font-size: 20px;
    margin-left: 50px;
    cursor: pointer;
    align-items: center; 
}
.link{
    display: flex;
    color: #000;
    padding: 5px 20px;
    gap: 10px;
    
}
.coverC{

    justify-content: space-between;
    width: 100%;
}
.link:hover {
    background-color: #eee;
    transition: all 0.5s;
}
.icon {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.link_text{
    font-size: 16px;
    width: 100%;
}
.link_list-text {

  font-size: 16px;
  padding-top: 30px;
  padding: 10px 15px;
  color: #444;
}
.active{
    background: rgb(254, 230, 227);
    color:red;
   display: flex;
}
.link_count{
    font-size: 12px;
    color: #AAB1C5;
}

.addButton{
    color: red;  
    font-size: 20px;
    cursor: pointer;  
    margin-left: 15px;
    position: relative;
}

.addButton:hover{
    color: rgba(255, 0, 0, 0.7);
}
.list-icon{
    display: flex;
}
.button-text {
    background-color:#444;
    color: #fff;
    top: 12px;
    left: -28px;
    width: 80px;
    padding: 4px 3px;
    font-size: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    text-align: center;
  }

.icon-list{
    font-size: 25px;
    text-align:right;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: -9px;
    margin-right: 10px;

}
.logout{
    display: flex;
    width: 100%;
    cursor: pointer;
    margin-top: 250px;
    align-items: center;
    justify-content: center;
    column-gap: 8px;

}
.logout-button{
    display: flex;
    background-color: #FAF8F7;
    border-radius: none;
    border: none;
    font-size: 17px;
    color: red;
    cursor: pointer;
}
.placeholder{
    display: flex;
    gap: 10px;
    align-items: center;
}

.listholder:hover{
    background-color: #eee;
    transition: all 0.5s;
}